{% extends "base.html" %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block headcontent %}
<link rel="stylesheet" href="{% static 'css/plots.css' %}" type="text/css">
{% endblock %}

{% block content %}

<div class="container">

  <div class="row" align="center">
    <div class="col-sm-3">
      <h5>block {{ node.block_count }}</h5>
    </div>
    <div class="col-sm-3">
      <h5>{{ stats.connection_count }} connections</h5>
    </div>
    <div class="col-sm-3">
      <h5>{{ stats.sent_gb|floatformat:2 }} GiB sent</h5>
    </div>
    <div class="col-sm-3">
      <h5>{{ stats.received_gb|floatformat:2 }} GiB received</h5>
    </div>
  </div>

  <hr/>

  <div class="row" align="center">
    <div class="col-sm-4">
      <font>{{ stats.n_data_points }} status snapshots </font>
    </div>
    <div class="col-sm-4">
      <font>since {{ stats.first_data_point|date:"DATE_FORMAT" }}</font>
    </div>
    <div class="col-sm-4">
      <font>last update on {{ stats.latest_data_point|date:"DATETIME_FORMAT" }}</font>
    </div>
  </div>

<hr/>

<script src="//d3js.org/d3.v3.min.js" type="text/javascript"></script>


  <div class="row">
    <div class="col-md-12">
      <div id="plot">
      </div>
    </div>
  </div>

<hr/>

  <div class="row" align="center">
    <div class="col-md-12">
      <h5>Peers</h5>
      <table class="table">
        <thead>
          <tr>
            <th>Address</th>
            <th>Connection time [hours]</th>
            <th>Received [MiB]</th>
            <th>Sent [MiB]</th>
          </tr>
        </thead>
        <tbody>
          {% for peer in node.peers %}
          <tr class="success">
            <td>{{ peer.address }}</td>
            <td>{{ peer.duration_hours|floatformat:1 }}</td>
            <td>{{ peer.received_mb|floatformat:1 }}</td>
            <td>{{ peer.sent_mb|floatformat:1 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>

<hr/>

<script src="{% static 'js/plots.js' %}" type="text/javascript"></script>


{% endblock %}