{% extends "base.html" %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-1">
      <h5>block {{ node.block_count }}</h5>
      <h5>{{ stats.connection_count }} connections</h5>
      <h5>node version: {{ node.version }}</h5>
      <h5>{{ stats.sent_mb|floatformat:0  }} MiB received</h5>
      <h5>{{ stats.received_mb|floatformat:0 }} MiB sent</h5>
      <h5>{{ stats.n_data_points }} data points</h5>
      <font>last update: {{ stats.latest_data_point }}</font>
    </div>
    <div class="row">
      <div class="col-sm-12">
      {% for peer in node.peers %}
      {{ peer.conntime }}
      {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}