  <table class="table table-hover">
    <thead>
      <tr>
        <th>Address</th>
        <th>bitnodes.21.co</th>
        <th>Connection time [hours]</th>
        <th>Received [MiB]</th>
        <th>Sent [MiB]</th>
      </tr>
    </thead>
    <tbody>
      {% for peer in node.peers %}
      <tr {% if peer.bitnodes_url %} class="success"{% endif %}>
        <td>{{ peer.address }}</td>
        <td>{% if peer.bitnodes_url %}<a href="{{ peer.bitnodes_url }}">link</a>{% endif %}</td>
        <td>{{ peer.duration_hours|floatformat:1 }}</td>
        <td>{{ peer.received_mb|floatformat:1 }}</td>
        <td>{{ peer.sent_mb|floatformat:1 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>